<configuration>
  <appSettings>
    <add key="START_ENABLED" value="false"/>
    <add key="XINPUT_POLLING_DELAY_MSECS" value="8"/>
    <add key="MAX_CURSOR_MOVEMENT_SPEED" value="18.0"/>
    <add key="LEFT_STICK_THRESHOLD" value="0.15"/>
    <add key="RIGHT_STICK_THRESHOLD" value="0.70"/>
    <add key="TRIGGER_THRESHOLD" value="0.99"/>
    <add key="TOGGLE_MANAGER_COMBINATION" value="A,X,BACK"/>
  </appSettings>
</configuration>